<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to Best Car Dealership</h1>
            <p>
                Welcome to Best Cars Dealership, home to the best cars in North America.
                We sell domestic and imported cars at reasonable prices.
            </p>
        </div>
    </div>
</body>
</html>
