<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

<!-- Dealer Information Section -->
<div class="container mt-5">
    <h2>{{ dealer.full_name }} Details</h2>
    <hr>

    <!-- Add dealer information here -->
    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ dealer.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ dealer.full_name }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ dealer.city }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ dealer.address }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ dealer.zip }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ dealer.st }}</td>
            </tr>
            <!-- Add more dealer information fields as needed -->
        </tbody>
    </table>

    <!-- Reviews Section -->
    <h3>Reviews</h3>
    <div class="card-columns">
        {% for review in reviews %}
            <div class="card" style="height: 300px; overflow: scroll; overflow-x: hidden;">
                <!-- You can add an image or icon here based on the sentiment if needed -->
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title">{{ review.car_make }}, {{ review.car_model }}</h5>
                    <h5 class="card-title">{{ review.car_year }}</h5>
                    <p class="card-text" style="text-align: left;">{{ review.review }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- If there are no reviews -->
    {% if not dealer.dealerreview_set.all %}
        <p></br>There are no reviews for this dealership.</br></p>
    {% endif %}

    <!-- Add a link to write a review if the user is authenticated -->
    {% if user.is_authenticated %}
        <div style="margin: 10px;">
            <a class="btn btn-primary" href="{% url 'djangoapp:add_review' dealer.id %}"><b>Write a car review</b></a>
        </div>
    {% endif %}
</div>
<!-- Add a footer or additional content if needed -->

</body>


</html>
