<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

    <body>
    <!--Add a nav bar here -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'djangoapp:index' %}">BestCar Dealership Branch Reviews</a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul style="justify-content:left;" class="navbar-nav">
                    <li class="navbar-brand">
                        <a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a>
                    </li>
                    <li class="navbar-brand">
                        <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                    </li>
                </ul>
                <!-- Add login form and signup link/button for non-authenticated users -->
                {% if user.is_authenticated %}
                <!-- Display user's first name or username -->
                <span class="navbar-text mr-3">Welcome, {{ user.first_name|default:user.username }}</span>
                <!-- Add signout button/link -->
                <a class="btn btn-primary" href="{% url 'djangoapp:custom_logout' %}">Log Out</a>
                {% else %}
                    <!-- Add login form and signup link/button for non-authenticated users -->
                <form class="form-inline ml-auto">
                <input class="form-control mr-2" type="text" placeholder="Username">
                <input class="form-control mr-2" type="password" placeholder="Password">
                <button class="btn btn-primary" type="submit">Login</button>
                 </form>
                <!-- Corrected the 'href' attribute for the Sign up link -->
                <a class="btn btn-success ml-2" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </nav>
    

    <!--Add a dealer table here -->
    <div class="container mt-5">
        <h2>List of Dealerships</h2>
        <table class="table" id="table" data-toggle="table" data-pagination="true" data-search="true">
            <thead>
                <tr>
                    <th data-field="id" data-filter-control="input" data-sortable="true">ID</th>
                    <th data-field="name" data-filter-control="input" data-sortable="true">Dealer Name</th>
                    <th data-field="city" data-filter-control="input" data-sortable="true">City</th>
                    <th data-field="address" data-filter-control="input" data-sortable="true">Address</th>
                    <th data-field="zip" data-filter-control="input" data-sortable="true">Zip</th>
                    <th data-field="state" data-filter-control="input" data-sortable="true">State</th>
                </tr>
            </thead>
            <tbody>
                {% for dealer in dealerships %}
                    <tr>
                        <td>{{ dealer.id }}</td>
                        <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{dealer.full_name}}</a></td>
                        <td>{{ dealer.city }}</td>
                        <td>{{ dealer.address }}</td>
                        <td>{{ dealer.zip }}</td>
                        <td>{{ dealer.st }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    </body>

</html>
